@charset "utf-8";

/* 여백 초기화 */
body,div,ul,li,h1,h2,h3,h4,h5,h6,p{margin:0; padding:0; color: #fff;}


/* color*/
section h2,section h3{color: #fff;}

/* a 링크 초기화 */
a {color: #fff;}
a:hover {color: #2698cb;}

/* 폰트 초기화 */
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}

/* text 공통 color */
p,span,div {color: #fff;}

body, input, textarea, select, button, table {
    font-family: 'Noto Sans KR', sans-serif !important; line-height: 1.5; letter-spacing: 0.15rem; 
}
 

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style:none;}

/* 제목 태그 초기화 */
h2,h3,h4,h5,h6 {font-weight: normal; color: #000000;}


