@charset "utf-8";

body{
    background-color: #333;
}

header{
    padding: 20px;
}
section{
    h2,ul{
        padding: 10px 40px;
    }

    .info{
        li{
            margin-top: 20px;
        }
        p{
            span{
                margin-right: 10px;
            }
        }
    }
}
table{
    width: 100%;
    border-collapse: collapse;
    caption{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
    }
}
colgroup{
    col:nth-of-type(1){ width: 15%;}
    col:nth-of-type(2){ width: 15%;}
    col:nth-of-type(3){ width: 25%;}
    col:nth-of-type(4){ width: 25%;}
}
.phomein_table colgroup{
    col:nth-of-type(1){ width: 15%;}
    col:nth-of-type(2){ width: 15%;}
    col:nth-of-type(3){ width: 20%;}
    col:nth-of-type(4){ width: 25%;}
    col:nth-of-type(5){ width: 25%;}
}
thead{
    background-color: #ccc;
}
tbody{
    background-color: #bbb;
}